.TextInput {
	display: flex;
	align-items: center;
	position: relative;
	padding: 2rem 0;
	margin: 0 2rem;
	border-bottom: 0.5rem solid var(--bs-gray);

	& > *:first-child {
		margin-right: 1rem;
	}

	&__input {
		background: transparent;
		border: none;
		color: var(--white);
		border-bottom: 1px solid var(--bs-purple);
		border-radius: 0;
		height: 2rem;
		padding: 0.375rem;

		&:focus,
		&:active {
			background: transparent;
			box-shadow: none;
			color: var(--white);
			border-bottom: 1px solid var(--bs-indigo);
		}
	}
}
