.DiaryItem {
	display: flex;
	align-items: center;
	padding: 0.75rem 0;
	margin: 0 2rem;

	&:not(:last-child) {
		border-bottom: 1px solid var(--bs-gray-dark);
	}

	& > *:first-child {
		margin-right: 1rem;
	}

	& > div {
		text-align: left;
		word-break: break-all;
	}

	&__avatar {
		display: flex;
		align-self: flex-start;
		flex-shrink: 0;
	}

	&__date {
		color: var(--bs-gray-600);
		margin-left: 0.5rem;
	}

	&__content {
		width: auto;
	}
}
